*.opensdf
*.log
*.tlog
Intermediates/
*.d
*.apk
SupraHotSandbox/Tegra-Android/
Build/
SupraHotSandbox/assets/
*.obj
x64/
SupraHotModelConverter/Lib/Debug/assimp-debug.lib
SupraHotModelConverter/Lib/Release/assimp-release.lib
SupraHotEditor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SupraHotEditor/obj/
ipch/
SupraHotEditor/bin/
Content/
SupraHotModelConverter/App-Content/
